<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .mylabel {
            color: #3f5a36;
            font-weight: bold;
            display: block;
            width: 150px;
            float: left;
            }
    </style>
</head>
<body>


    <fieldset>

        <legend>Choose Your favorite Genre/s:</legend>
        {% for genre in all_genres %}
            <div class= "mylabel">
                <input type="checkbox" name={{genre}}> {{genre}}
            </div><br>
        {% endfor %}


        <button id='button' onclick="showSelectedOptions(this.genre)">
            Show Selected Options
        </button>

        <div id="selectedOptions"></div>
    </fieldset>
    <script>
        function showSelectedOptions(genre) {
            // Get all checkboxes
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');

            // Array to store selected options
            var selectedOptions = [];

            console.log(genre);

            // Iterate through checkboxes and check if they are checked
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    selectedOptions.push(checkbox.name);
                }
            });

            // Display selected options in the designated area
            var selectedOptionsElement = document.getElementById('selectedOptions');
            selectedOptionsElement.innerHTML = 'Selected Options: ' + (selectedOptions.length > 0 ? selectedOptions.join(', ') : 'None');

            // Store selected options in localStorage
            localStorage.setItem('selectedOptions', JSON.stringify(selectedOptions));

            // Redirect to the new page
            window.location.href = 'selected_genre';
        }
    </script>

</body>
</html>