{% extends "flask_user_layout.html" %}
{% block content %}
<head>
    <style>
        .green-box {
            background-color: green;
            color: white;
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
        }
    </style>
</head>
<div class="container">
    <h2>Movies</h2>

    {% for m in movies %}
        <div class="panel panel-success" style="border: 2px solid green">
            <div class="panel-heading"><b>{{ m.title }}</b>
                <p>Header</p>
            </div>

            <div class="panel-body">
                <p>
                    {% for g in m.genres %}
                        <span class="green-box">{{ g.genre }}</span>
                    {% endfor %}
                </p>

            <a>
                <b>Tags: </b>
                {% for t in m.tags %}
                    <span class="label label-success">{{ t.tag }}</span>
                {% endfor %}
                Dies ist text
            </a>
            {% for l in m.links %}
            <a href="{{ l.imdb }}">Link to review on IMDb</a>
            <br>
            <a href="{{ l.tmdb }}">Link to review on TMBD</a>
            {% endfor %}

            {% for r in m.ratings %}
            <p>the rating for the movie "{{m.title}}" was {{r.rating}} by user {{r.user_id}}</p>
            {% endfor %}
            </div>
              <div class="panel-footer">Rate:
                  <a href="#" class="card-link">1</a>
                  <a href="#" class="card-link">2</a>
                  <a href="#" class="card-link">3</a>
                  <a href="#" class="card-link">4</a>
                  <a href="#" class="card-link">5</a> Stars
              </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
